@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: "Momo Trust Display";
}

body {
  font-family: sans-serif; 
  line-height: 1.5; 
}


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none; 
  color: inherit; 
}

img, svg {
  display: block; 
  max-width: 100%; 
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}
